
/*-------------------------------------------------------------------------------------------*/
.layout{
    display: grid;
    width: 98%;
    grid-gap:10px;
    position: relative;
    margin: 10px auto;
    grid-template-areas: 
    "Title  "
    "search"
    "posts";
}

.posts{
    display: grid;
    grid-template-columns: 250px 250px 250px ;
    margin: 20px auto;
    grid-gap: 30px;
    justify-content: center;
    grid-area:posts ;
    width: 80%;  
}

.child::before {
    content: "";
    position: absolute;
    left: 0px;
    margin-top: 30px;
    width: 100%;
    height: 340px;
    z-index: -1;
    background:rgb(0, 0, 0);
}
.container1{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.Title{
   grid-area:Title ;
   margin: 40px 20px 0px 20px;

   width: 90%;
   text-align: center;

}
.Title> h1{
    padding: 0%;
    margin: 0%;
}

.search{
    grid-area:search ;
    margin: 5px auto;
    width:80%;
    text-align: center;
    grid-gap: 10px;
    display: flex;
    padding:15px;
    padding-bottom: 0px;
}

.sersh-contaner{
    border: solid;
    width: 100%;
    background-color: #ECECEC;;
    display: flex;
    border-radius: 20px;
    padding: 5px;
    padding-right: 7px;
}

.input-serch{
    width: 100%;
    border: none;
    border-color: white;
    background-color: #ECECEC;;

 
}
.input-serch:focus{
    outline: none;
}

.post{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr  ;
    grid-gap: 30px;
}

.child{

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background-color: #ECECEC;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
}
.images  >img{
    width: 100%;
    height: 160px;
    border-radius: 5px 5px 0px 0px;
}

.container1{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

/*-----------------------------------------small screen------------------------------------------*/

@media(max-width:767px){

.container1{
    margin-left: 30px;
    margin-right: 30px;
}

.Rigister>button{
    background-color: rgb(255, 255, 255) ;
}
.posts{
    display: flex;
    flex-direction: column;
}
}

/*-----------------------------------------The End---------------------------------------------*/


    

 

        
        






