/*----------------------------------main style-----------------------------------------------*/
:root{
    --main-color:#D7DFCA;
    --main-color-alt: #ECECEC;
    --main-transition:0.3s;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Cairo', sans-serif; 
}

ul{
    list-style: none;
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media(min-width:768px){
    .container{
        width: 750px;
    }
}

@media(min-width:992px){
    .container{
        width: 970px;
    }
}

@media(min-width:1200px){
    .container{
        width: 1170px;
    }
}
/*----------------------------------header style-----------------------------------------------*/
.header{
    background-color: white;
    position: fixed;
    -webkit-box-shadow:0 0 10px rgb(33, 31, 31);
    -moz-box-shadow:0 0 10px rgb(23, 18, 18);
    box-shadow:0 0 10px rgb(12, 12, 12);

}

.header .container{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.header .logo{ 
    color:var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow:3px 3px black;
}
.header .main-nav{
    display: flex; 
}

.header .main-nav > li > a { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    position: relative;
    color: black;
    padding: 0 30px;
    overflow: hidden;
    border-left: #D7DFCA solid; 
}

.header .main-nav > li > a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top:0;
    left:-100%;
    transition:var(--main-transition);
}

.header .main-nav > li > a:hover{
    color: var(--main-color);
    background-color: #fafafa;
}

.header .main-nav > li > a:hover::before{
  left: 0px;
}
.space2{
    height: 56px;
}
@media(max-width:767px){
    .header .logo{
        width: 100%;
    }
    .header .main-nav{
        display: flex;
        margin: auto;
    }
    .space2{
        height: 106px;
     
    }

}
.header{
    width: 100%;
    position: fixed;
    z-index: 1;
        }
/*---------------------------------Rigister style-----------------------------------------------*/

.Rigister{
  
    padding-left: 15px;
    padding-top: 20px;
    height:80px;
   
}

.boton_stile{

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 10px;
    padding: 0px 5px;
    border-radius: 5px 5px 5px 5px;
    background-color: var(--main-color);
    color: black; 
}


.button{
    width: 100%;
  
    border-width: 1px;
    border-radius: 6px;
    background-color: #D7DFCA;
   padding:10px;
    
}

.button1{
    width: 100%;
    margin-top: 10px;
    border: none;
   padding-top: 20px;
   padding-bottom: 20px;
   border-radius: 0px 0px 5px 5px;
   background-color: var(--main-color);
   width: 100%;
   height: 100%;
   color: black;
    
}
.contaner-button{
    margin-left: 50px;
}

@media(max-width:767px){
    .header .main-nav > li > a {
        padding: 10px;
        font-size: 13px;
        height: 30px;
        border-left:none; 
    } 
    .button{
     width: 90%;
        padding: 3px;
        margin-top: 5px;
        margin-bottom: 5px;

    }
    .Rigister{
        top: 0px;
        padding-left:30px;
        padding-left:5px;
    }  
    .contaner-button{
        margin-left: 20px;
        position: relative;
        top: 10px;
        
        }

     h1{
            font-size: 25px;
    }
}
/*---------------------------------footer style-----------------------------------------------*/
footer{
    height: 200px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.Footer{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fafafa;
    width: 40%;
    font-size: 11px;
    text-align: center;
    margin: 0px auto;
    }

.flex_foter{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.d{
    width: 20px;
}

@media(max-width:767px){
    .Footer{
        width:80%;
    }
 
}

/*---------------------------------The End -----------------------------------------------*/






