/*---------------------------------all-----------------------------------------------*/
body{
    background-color: #ECECEC;;
}
.test{
   background-image: url("../imgs/patrick-tomasso-Oaqk7qqNh_c-unsplash.jpg" );
   background-size: 100%;
   z-index: -1;
   height : 85vh	;
   border-radius: 0px 0px 15px 15px ;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.obasity{
   background-color: black;
   opacity:0.7;
   height : 85vh;	
   border-radius: 0px 0px 15px 15px ;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   z-index: -1;
}

.all{
    display: grid;
    width: 95%;
    margin: 0px auto ;
    grid-template-columns: 1fr;
    background-color: #ECECEC;;
    grid-template-areas: 
    "main1  main1"
    "speace speace";
    grid-gap: 15px; 
    position: relative;
}

.main1{
  grid-area:main1 ;

}
.speace{
    grid-area:speace ;
 
}

.text{
    color: black;
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    bottom:70px;
 }

.text > h1 {
    color: var(--main-color);
    margin-left: 45px;
    margin-right: 45px;
}

.text >p{
    color:white;
    margin-left: 45px;
    margin-right: 45px;
}
@media(max-width:767px){
    .test{
            height : 82vh;	
    }
    .obasity{
        height : 82vh;	
    }
    
    .main .container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    
    .photo{
        height: 200px;
        width: 200px;
    }
    .main::before {
       top:-30px;
    }
    
    .text{
        width: 90%;
    }
    
    .text > h1{
        text-align: center;
        font-size: 20px;
        margin-left: 0px;
        margin-right:0px;  
    }
    .text> p{
        font-size: 13px;
    }
    .speace{
        grid-area:speace ;
        margin: 90px auto;
    }
}

/*---------------------------------Posts style-----------------------------------------------*/
.posts1{
    grid-area:post;
    transition:all 0,3s ease-in-out ;

}

.posts > h1{
    text-align: center;
    margin-bottom:50px;
    margin-top:40px;
}

.post{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr  ;
    grid-gap: 30px;
}

.child{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background-color: #ECECEC;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
}
.images  >img{
    width: 100%;
    height: 170px;
    border-radius: 5px 5px 0px 0px;
}

.container1{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.child::before {
    content: "";
    position: absolute;
    left: 0px;
    margin-top: 30px;
    width: 100%;
    height: 340px;
    z-index: -1;
    background:rgba(0, 0, 0 );
}

@media(max-width:767px){
    .post{
        display: flex;
        flex-direction: column;
    }
    .container1{
        margin-left: 30px;
        margin-right: 30px;
    }
    
    .Rigister>button{
        background-color: rgb(255, 255, 255) ;
    }
    
    .b{
        display: none;
    }
}
/*---------------------------------Tips section -----------------------------------------------*/
.orange{
    color: #FF7F27;
    margin-top: 50px;
}


.tips{
    display: grid;
    width: 90%;
    margin: 10px auto;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
    grid-gap: 10px;
}

.tips2{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background-color: #ECECEC;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin:10px;
    padding: 10px; 
    background-color: #D7DFCA;
}
.tips1{
  
    display: flex;
    flex-direction: column;
    text-align: left;
    margin:10px;

}
#posts1{
color:  #ECECEC;
}
.text1{
    color: black;
    width: 90%;
    text-align: center;
    margin:20px auto;
    margin-bottom: 30px;
 
 }

 
.flex{
    display: flex;

}

.flex img{
    width: 50px;
    height: 50px;
    margin: 2px 2px;
}

.personal-info{
margin-left:10px;
}

.personal-info >p{
    font-size: 12px;
}

@media(max-width:767px){
    .tips{
        display: grid;
        width: 90%;
        margin: 10px auto;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr  1fr 1fr;
        grid-gap: 10px;
    }
    .space2{
        height: 106px;
    }
}
    
    .flex3{
        display: flex;
        align-items: flex-end;
        justify-content: end;
        position: relative;
        top:40px;
        left: 20px;
    }

    .flex2{
        position: relative;
        top:40px;
        right: 20px;
    }
/*---------------------------------The End -----------------------------------------------*/